body{
    background-image: url('EMV_4013.jpg');
    background-size: cover;
    background-position:center  top 20%; /* Moves the image upward */
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, sans-serif;
    opacity: 0.9; /* Adjust the image opacity */
}


form{
    margin-right: auto;
    margin-left: auto;
    width: 280px;
    height:500px;
    padding: 25px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);

}

.input-container{
position: relative;
margin-bottom: -20px;

}
h2{
    font-size: 18px;
    font-weight: 100;
}

input{
    position: relative;
    top:-10px;
    width: 100%; /* Make all inputs the same width */
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
    box-sizing: border-box;
}
.options-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.options-row label {
  margin-top: -20px;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    margin-bottom: 30px;
}

.options-row input[type="radio"] {
  margin-left: -10px;
     position: relative;
    top: 10px;
}

.rsvp-button {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background-color: black;
    border: 3px solid goldenrod;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.rsvp-button:hover {
    background-color: goldenrod;
    color: black;
}


label{
    font-weight: 700;
}

.error-message {
    font-size: 0.8rem;
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
}

.rsvp-button:disabled {
    cursor: not-allowed;
    background-color: grey;
    color: white;
    border: 3px solid #ccc;
}


.page-close{
    cursor: pointer;
         font-size: 3em;
        color: white;
        position: absolute; 
       
        left: 20px ;
        top:20px ;
    z-index: 99999;
    }
    @media (max-width: 600px) {
       
        .page-close{
    left: 10px ;
    top:10px ;
    }
    }

    @media (max-width: 330px) {
       
        .page-close{
        top:-10px !important;
    }
    }

    @media (max-width: 450px) {
       
form{
    width: 260px;
}

        .page-close{
    
    left: -2px ;
    top:-2px ;
    font-size: 2.5em;
    }
    }
    @media (max-width: 375px) {
       
        form{
            width: 230px;
        }}
